*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,186,1) 74%);;
}
.foto{
    margin-bottom: 15px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px black;
}
.perfil{
    margin: 30px 0px 30px;
    text-align: center;

}
.links{
    list-style: none;
}
.links li{
    margin: 10px 20px;
}
.links li a{
    border-radius: 9px;
    padding: 15px 20px;
    text-decoration: none;
    background: white;
    display: block;
    font-weight: bold;
    box-shadow: 0px 0px 15px black;
}
.links li a span{
    color: gray;
    display: block;
    margin-top: 10px;   
}
.social{
    margin-top: 15px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.social img{
    width: 30px;
}
h1{
    margin-bottom: 15px;
}